<h2>Detalle de producto</h2>

<p *ngIf="loading">Cargando...</p>
<p *ngIf="error" style="color:red">{{ error }}</p>

<div *ngIf="!loading && !error && producto" style="border:1px solid #e1b9b9; padding:12px; max-width:450px;">
  <p><strong>ID:</strong> {{ producto.id }}</p>
  <p><strong>Nombre:</strong> {{ producto.nombre }}</p>
  <p><strong>Descripción:</strong> {{ producto.descripcion }}</p>
  <p><strong>Precio:</strong> {{ producto.precio | currency:'CLP':'symbol' }}</p>
  <p><strong>Stock:</strong> {{ producto.stock }}</p>

  <p>
    <a [routerLink]="['/productos/editar', producto.id]">Modificar</a>
    &nbsp;|&nbsp;
    <a routerLink="/productos">Volver</a>
  </p>
</div>